@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@680&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@680&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 105vh;
  min-height: 100vh;
  background: linear-gradient(180deg, #008AED 0%, #0083E2 38.1%);
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Logo */
.logo {
  font-family: "Inter";
  font-size: 4.5vh;
  font-weight: 350;
  padding: 2%;
  margin-bottom: 1.5%;
}

/* Center container */
.hero-container {
  position: relative;
  z-index: 2;
  max-width: 65vw;
  margin: 1vw 7vw 0vw 18vw;
  display: flex;
  gap: 0.5vw;
}

/* LEFT CARD */
.left-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  height: 26vw;
  overflow: hidden;
}

/* ---------------- TABS CONTAINER ---------------- */
.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.55);
  border-radius: 18px;
}

/* Individual tab */
.tab {
  border: none;
  padding: 0.5vw 0.5vw;
  justify-content: space-between;
  border-radius: 7px;
  font-size: 1.29vw;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.2s;
  font-family: Roboto Serif;
  font-weight: 100;
}

.tab.active {
  background: #fff;
  color: rgba(0, 138, 237, 1);
  font-weight: 500;
  padding: 0.5vw 0.6vw;
  margin-right: 1px;
}

/* ---------------- CONTENT AREA ---------------- */
.tab-area {
  flex: 1;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  padding: 1vw 2vw 1vw 1.5vw;
}

/* hide / show logic */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content h4 {
  font-size: 1.4vw;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto Serif;
  font-weight: 600;
}

/* url */
.url-tab {
  border-radius: 18px;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto Serif";
}

.url-tab h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 12px;
}

.url-tab input {
  width: 100%;
  height: 3vw;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 1vw;
  font-size: 1vw;
  margin-bottom: 6px;
  cursor: pointer;
}

.url-tab input::placeholder {
  color: rgba(0, 138, 237, 1);
  text-decoration: underline;
  text-underline-offset: 2px;
  font-family: Roboto Serif;
  font-weight: 500;
}

.url-tab .hint {
  font-size: 1vw;
  opacity: 0.9;
}


/* PDF upload box */
.pdf-upload {
  background: #ffffff;
  border-radius: 14px;
  height: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.upload-icon i {
  color: rgba(0, 138, 237, 1);
  border-radius: 12px;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.pdf-upload p {
  color: rgba(0, 138, 237, 1);
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 1vw;
}

/* Contact form layout */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
  row-gap: 0.5vw;
}

.contact-grid .full {
  grid-column: span 2;
}

.contact-grid input {
  width: 100%;
  padding: 0.8vw;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 1vw;
  font-family: Roboto Serif;
  margin-bottom: 0;
}

.contact-grid input::placeholder {
  color: rgba(0, 138, 237, 1);
  text-decoration: none;
}


/* Title spacing control */
.plain-textarea {
  width: 100%;
  height: 16vw;
  padding: 1vw;
  border-radius: 16px;
  border: none;
  outline: none;
  resize: none;
  font-size: 1vw;
  font-family: Roboto Serif;
  font-weight: 300;
}

.plain-textarea::placeholder {
  color: rgba(0, 138, 237, 1);
  font-weight: 400;
  text-decoration: none;
}

.plain-textarea {
  cursor: text;
}


/* App */
.app-tab {
  border-radius: 18px;
  color: #fff;
  font-family: "Roboto Serif";
}

.app-tab h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 1vw;
}

.app-tab input {
  width: 100%;
  height: 3vw;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 1vw;
  font-size: 1vw;
  margin-bottom: 0.5vw;
  cursor: pointer;
}

.app-tab input::placeholder {
  color: rgba(0, 138, 237, 1);
  font-family: Roboto Serif;
  font-weight: 400;
}

/* SMS */
.sms-tab {
  border-radius: 18px;
  color: #fff;
  font-family: "Roboto Serif";
}

/* title */
.sms-tab h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 0.8vw;
}

.sms-tab input,
.sms-tab textarea {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.8vw;
  font-size: 1vw;
  margin-bottom: 0.5vw;
  resize: none;
  font-family: Roboto Serif;
  font-weight: 400;
}

.sms-tab textarea {
  height: 11.5vw;
}

.sms-tab input::placeholder,
.sms-tab textarea::placeholder {
  color: rgba(0, 138, 237, 1);
}

/* common card style */
.email-tab,
.phone-tab {
  border-radius: 18px;
  color: #fff;
  font-family: "Roboto Serif";
}

/* title */
.email-tab h4,
.phone-tab h4 {
  font-size: 1.4vw;
  font-weight: 600;
  margin-bottom: 1vw;
}

/* inputs & textarea */
.email-tab input,
.email-tab textarea,
.phone-tab input {
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.8vw;
  font-size: 1.1vw;
  margin-bottom: 0.5vw;
  resize: none;
  font-family: Roboto Serif;
  font-weight: 400;
}

/* email textarea height */
.email-tab textarea {
  height: 8.5vw;
}

/* placeholder style */
.email-tab input::placeholder,
.email-tab textarea::placeholder,
.phone-tab input::placeholder {
  color: rgba(0, 138, 237, 1);
  font-size: 1vw;
}


/* RIGHT CARD */
.right-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.55);
  border-radius: 18px;
  padding: 1vw;
}

/* QR */
.qr-preview {
  /* height: 210px; */
  border-radius: 14px;
}

.qr-preview img {
  height: 18.5vw;
  width: 18vw;
  padding: 0.5vw;
}

/* Buttons */
.qr-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8vw;
  padding: 0 0.5vw;
}

.qr-buttons,
.qr-buttons button,
.qr-buttons img {
  background: transparent;
  border: none;
  gap: 30%;
  height: 3.6vw;
  width: 3.6vw;
}

/* CLOUD */
.hero-cloud {
  position: absolute;
  bottom: -25vw;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.hero-cloud img {
  width: 100%;
  display: block;
}




/* ===== HOW TO CREATE SECTION ===== */
.how-section {
  margin-top: -4vw;
  background: rgba(255, 255, 255, 1);
  padding: 7vw 2vw 7vw;
  text-align: center;
}

.how-section h2 {
  font-size: 2.5vw;
  margin-bottom: 5vw;
  font-family: "Roboto Serif", serif;
  font-weight: 600;
}

.steps {
  display: flex;
  gap: 3vw;
  justify-content: center;
  flex-wrap: wrap;
}

.step {
  max-width: 22vw;
  text-align: left;
}

.step-number {
  font-size: 1.8vw;
  font-weight: 500;
  width: 3.8vw;
  height: 3.8vw;
  border: 2px solid white;
  background: rgba(0, 138, 237, 1);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2vw;
  position: relative;
  z-index: 2;
  font-family: Roboto Serif;
}

.step-box {
  height: 9.5vw;
  background: rgba(0, 24, 41, 0.2);
  border-radius: 12px;
  margin-bottom: 1vw;
}

.step h4 {
  font-family: Roboto Serif;
  font-weight: 500;
  color: rgba(0, 138, 237, 1);
  margin-bottom: 0.8vw;
  font-size: 1.3vw;
}

.step p {
  font-family: Roboto Serif;
  font-weight: 400;
  color: rgba(0, 24, 41, 0.8);
  font-size: 1.1vw;
  letter-spacing: 0.6px;
  opacity: 0.9;
}

.cta-btn {
  font-family: Roboto Serif;
  font-weight: 450;
  margin-top: 10vw;
  padding: 1vw 2vw;
  background: rgba(0, 138, 237, 1);
  color: #fff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 1.5vw;
}

/* everything you need to know */
.faq-section {
  padding: 0 2vw 0;
}

.faq-title {
  font-family: Roboto Serif;
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
  margin-bottom: 6vw;
  color: rgba(0, 24, 41, 1);
}

.faq-container {
  max-width: 70vw;
  margin: auto;
  display: flex;
  gap: 4vw;
  align-items: flex-start;
  padding: 0 4vw;
}

/* LEFT IMAGE */
.faq-image img {
  max-width: 30vw;
  width: 100%;
  height: 30vw;
}

/* RIGHT ACCORDION */
.faq-accordion {
  flex: 1;
}

.faq-item {
  border-bottom: 1px solid #dbe3eb;
  padding: 1vw 0;
}

.faq-question {
  font-family: Roboto Serif;
  width: 100%;
  background: none;
  border: none;
  font-size: 1.4vw;
  font-weight: 500;
  color: rgba(0, 138, 237, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-answer {
  font-family: Roboto Serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer p {
  margin-top: 1.1vw;
  color: rgba(0, 24, 41, 0.8);
  line-height: 1.3;
  font-size: 1vw;
  letter-spacing: 0.7px;
}

/* ACTIVE STATE */
.faq-item.active .faq-answer {
  max-height: 18vw;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
}

.arrow {
  transition: transform 0.1s ease;
}

/* footer */
.site-footer {
  background: #fff;
  margin: 5% 15%;
  padding-top: 3vw;
  border-top: 1px solid rgba(0, 24, 41, 0.2);
  font-size: 1vw;
  color: rgba(0, 24, 41, 0.8);
}

/* TOP PART */
.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 24, 41, 0.2);
  font-family: Roboto Serif;
  font-weight: 600;
  color: rgba(0, 24, 41, 0.8);
}

.footer-left {
  max-width: 40vw;
}

.footer-highlight {
  color: rgba(0, 138, 237, 1);
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 1.4vw;
  line-height: 1.2;
  margin-bottom: 1vw;
}

.footer-made span {
  color: red;
}

/* LINKS */
.footer-links {
  display: flex;
  gap: 8vw;
  margin-bottom: 3vw;
}

.footer-col h4 {
  font-size: 1.3vw;
  font-weight: 400;
  margin-bottom: 1vw;
  color: rgba(0, 138, 237, 1);
}

.footer-col a {
  display: block;
  color: rgba(0, 24, 41, 0.8);
  font-family: Roboto Serif;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 1vw;
  font-size: 1vw;
}

.footer-col a:hover {
  color: #007bff;
}

/* BOTTOM PART */
.footer-bottom {
  max-width: 100vw;
  margin: auto;
  padding-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-family: Roboto Serif;
  font-weight: 400;
  color: rgba(0, 138, 237, 1);
}

.footer-bottom span {
  color: rgba(51, 70, 84, 1);
  font-family: Roboto Serif;
  font-weight: 500;
}

.footer-policy a {
  margin-left: 2vw;
  text-decoration: none;
  color: rgba(0, 138, 237, 1);
  font-family: Roboto Serif;
  font-weight: 400;
}

.footer-policy a:hover {
  text-decoration: underline;
}

/* ***********************Responsiveness**************** */
@media (max-width: 1024px) {

  .hero-container {
    max-width: 85vw;
    margin: 2vw auto 0;
    gap: 1vw;
  }

  .left-card {
    height: auto;
  }

  .tab {
    font-size: 1.6vw;
  }

  .tab-content h4 {
    font-size: 1.8vw;
  }

  .url-tab input,
  .app-tab input {
    height: 4vw;
    font-size: 1.3vw;
  }

  .plain-textarea {
    height: 20vw;
    font-size: 1.3vw;
  }

  .qr-preview img {
    width: 22vw;
    height: 22vw;
  }

  .qr-buttons button {
    height: 4vw;
    width: 4vw;
  }

  .hero-cloud {
    bottom: -22vw;
  }

   .how-section {
    padding: 4vw 4vw;
  }

  .how-section h2 {
    font-size: 3.2vw;
    margin-bottom: 6vw;
  }

  .step {
    max-width: 28vw;
  }

  .step-number {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    margin-bottom: -2.5vw;
  }

  .step-box {
    height: 10vw;
  }

  .step h4 {
    font-size: 1.4vw;
  }

  .step p {
    font-size: 1.2vw;
  }

  .cta-btn {
    font-size: 2vw;
    padding: 1.4vw 3vw;
    margin-top: 7vw;
  }

  .faq-title {
    font-size: 3.2vw;
    margin-bottom: 7vw;
  }

  .faq-container {
    max-width: 80vw;
    gap: 5vw;
    padding: 0 2vw;
  }

  .faq-image img {
    max-width: 34vw;
    height: 34vw;
  }

  .faq-question {
    font-size: 1.8vw;
  }

  .faq-answer p {
    font-size: 1.3vw;
    line-height: 1.45;
  }

  .faq-item.active .faq-answer {
    max-height: 25vw;
  }

  .site-footer {
    margin: 5% 8%;
    font-size: 1.4vw;
  }

  .footer-highlight {
    font-size: 1.8vw;
  }

  .footer-col h4 {
    font-size: 1.8vw;
  }

  .footer-col a {
    font-size: 1.4vw;
  }

  .footer-links {
    gap: 6vw;
  }

  .footer-bottom {
    padding-top: 3vw;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding-bottom: 10vw;
  }

  .hero-container {
    flex-direction: column;
    max-width: 90vw;
    margin: 4vw auto;
    height: 38vw;
  }

  .left-card {
    width: 100%;
  }

  .tabs {
    justify-content: center;
  }

  .tab {
    font-size: 2.4vw;
    padding: 1vw;
  }

  .tab-content h4 {
    font-size: 2.8vw;
  }

  .url-tab input,
  .app-tab input,
  .sms-tab input,
  .email-tab input,
  .phone-tab input {
    height: 6vw;
    font-size: 2.2vw;
  }

  .plain-textarea,
  .sms-tab textarea,
  .email-tab textarea {
    height: 10vw;
    font-size: 2.2vw ;
  }
    /* INPUT PLACEHOLDER */
  .url-tab input::placeholder,
  .app-tab input::placeholder,
  .sms-tab input::placeholder,
  .email-tab input::placeholder,
  .phone-tab input::placeholder {
    font-size: 2.2vw;
  }

  /* TEXTAREA PLACEHOLDER */
  .plain-textarea::placeholder,
  .sms-tab textarea::placeholder,
  .email-tab textarea::placeholder {
    font-size: 2.2vw;
  }

  .contact-grid input {
    font-size: 2.2vw;
    padding: 1.4vw;
  }
  .right-card{
    display: none;
  }

  .hero-cloud {
    bottom: -20vw;
  }

  .how-section {
    padding: 8vw 6vw;
  }

  .how-section h2 {
    font-size: 3.8vw;
    margin-bottom: 10vw;
  }

  .steps {
    flex-direction: column;
    gap: 8vw;
    align-items: center;
  }

  .step {
    max-width: 90%;
    text-align: center;
  }

  .step-number {
    width: 6vw;
    height: 6vw;
    font-size: 3vw;
    margin: 0 auto -4vw;
  }

  .step-box {
    height: 18vw;
  }

  .step h4 {
    font-size: 3vw;
    margin-top: 4vw;
  }

  .step p {
    font-size: 2.2vw;
    line-height: 1.5;
  }

  .cta-btn {
    font-size: 2.6vw;
    padding: 2vw 4vw;
    margin-top: 12vw;
    border-radius: 18px;
  }

  .faq-section {
    padding: 1vw 6vw;
  }

  .faq-title {
    font-size: 3.8vw;
    margin-bottom: 8vw;
  }

  .faq-container {
    max-width: 100%;
    gap: 8vw;
    padding: 0;
  }

  .faq-image {
    display: flex;
    margin-top: 5vw;
    justify-content: center;
  }

  .faq-image img {
    max-width: 25vw;
    height: auto;
  }

  .faq-question {
    font-size: 2.2vw;
    text-align: left;
  }

  .faq-answer p {
    font-size: 1.5vw;
    margin-top: 1vw;
    line-height: 1.6;
  }

  .faq-item {
    padding: 3vw 0;
  }

  .faq-item.active .faq-answer {
    max-height: 30vw;
  }

  .site-footer {
    margin: 8% 6%;
    font-size: 2vw;
  }

  .footer-top {
    flex-direction: column;
    gap: 6vw;
    padding-bottom: 6vw;
  }

  .footer-left {
    max-width: 100%;
    text-align: center;
  }

  .footer-highlight {
    font-size: 2.5vw;
    line-height: 1.4;
  }

  .footer-links {
    justify-content: center;
    gap: 10vw;
  }

  .footer-col h4 {
    font-size: 2.2vw;
  }

  .footer-col a {
    font-size: 2vw;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 3vw;
    padding-top: 1vw;
    text-align: center;
  }

  .footer-policy a {
    margin-left: 0;
    margin: 0 2vw;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 5vw;
    text-align: center;
  }

  .hero-container {
    max-width: 85vw;
    height: 63vw;
  }

  .tabs {
    gap: 0;
    padding: 1vw;
  }

  .tab {
    font-size: 2.78vw;
    padding: 1vw 2.5vw;
  }

  .tab-content h4,.tab-content p{
    font-size: 3vw;
  }

  .url-tab input,
  .app-tab input,
  .sms-tab input,
  .email-tab input,
  .phone-tab input {
    height: 10vw;
    font-size: 3.5vw;
  }

  .plain-textarea,
  .sms-tab textarea,
  .email-tab textarea {
    height: 20vw;
    font-size: 3.5vw;
  }

  .hero-cloud {
    bottom: -20vw;
  }

  .how-section {
    padding: 5vw 5vw;
  }

  .how-section h2 {
    font-size: 4.5vw;
    margin-bottom: 12vw;
  }

  .step {
    max-width: 100%;
  }

  .step-number {
    width: 9vw;
    height: 9vw;
    font-size: 5vw;
    margin-bottom: -5vw;
  }

  .step-box {
    height: 25vw;
    border-radius: 16px;
  }

  .step h4 {
    font-size: 3.7vw;
    margin-top: 6vw;
  }

  .step p {
    font-size: 2.8vw;
    letter-spacing: 0.3px;
  }

  .cta-btn {
    font-size: 3.5vw;
    padding: 2vw 5vw;
    margin-top: 10vw;
    border-radius: 20px;
  }

  .faq-section {
    padding: 12vw 1vw;
  }

  .faq-title {
    font-size: 4.6vw;
    margin-bottom: 12vw;
  }

  .faq-image img {
    display: none;
  }

  .faq-question {
    font-size: 3.7vw;
    gap: 3vw;
  }

  .faq-answer p {
    font-size: 2.8vw;
    line-height: 1.7;
    letter-spacing: 0.3px;
  }

  .faq-item {
    padding: 4vw 0;
  }

  .faq-item.active .faq-answer {
    max-height: 30vw;
  }

  .arrow {
    font-size: 4vw;
  }
/* footer section */
  .site-footer {
    margin: 10% 4%;
    font-size: 2.5vw;
  }

  .footer-highlight {
    font-size: 3.5vw;
  }

  .footer-links {
    flex-direction: row;
    gap: 8vw;
  }

  .footer-col h4 {
    font-size: 3vw;
  }

  .footer-col a {
    font-size: 2.4vw;
  }

  .footer-bottom p {
    font-size: 2.8vw;
  }

  .footer-policy a {
    font-size: 2.5vw;
  }
}
